
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
   
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    }
    
.body {
    margin: 0;
    background-color: #000;
} 
#canv {
    position: fixed;
    top: 0;
    left: 0;
}

.div1 { grid-area: 2 / 3 / 3 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2 { grid-area: 3 / 3 / 4 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div3 { grid-area: 4 / 3 / 5 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div4 { grid-area: 5/ 3 / 6 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div5 { grid-area: 6/ 3 / 7 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div6 { grid-area: 7 / 3 / 8 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div7 { grid-area: 8 / 3 / 9 / 4; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div8 { grid-area: 9 / 3 / 10 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div9 { grid-area: 10 / 3 / 11 / 4; 
}
.div10 { grid-area: 1 / 3 / 2 / 4;
    display: flex;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}
.div11 { grid-area: 1 / 2 / 2/ 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    
}
.div12 { grid-area: 3 / 2 / 11 / 3; 
}

.espace{
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2em;
    color: greenyellow;
    font-size: 175%;
    font-family: 'Bebas Neue', cursive;
}
.div13 { grid-area: 2 / 1 / 3 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div14 { grid-area: 3 / 1 / 4 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div15 { grid-area: 4 / 1 / 5 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div16 { grid-area: 5 / 1 / 6 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div17 { grid-area: 6 / 1 / 7 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div18 { grid-area: 7 / 1 / 8 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div19 { grid-area: 3 / 2 / 5 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.div20 { grid-area: 6 / 2 / 7 / 3; 

display: flex;
justify-content: center;
align-items: center;
}

.div21 { grid-area: 8 / 2 / 10 / 3; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.div22 { grid-area:  7/ 2 / 8/ 3;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .clickValeur {
        grid-area: 5 / 2 / 6 / 3; 
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }

.barIcon2{
    grid-area: 8/1/9/2;
    display: flex;
    align-items: center;
    justify-content: center;
       
   }
    
.baricon3{
    grid-area:  9/1/10/2;
    display: flex;
    align-items: center;
    justify-content: center;
}



#title {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: antiquewhite;
    margin: auto;
    font-size: 75px;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; 

}

#danteSay{
    transform: translate(25px, 470px);
}
.multi {
    color: greenyellow;
    font-size: 150%;
    
}
.lineC{
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: greenyellow;
    text-align: center;
    transform: translate(200px, 5px);
}
.multipliX{
    font-family: 'Bebas Neue', cursive;
    color: greenyellow;
    transform: translate(0px, 105px);
}
#clickVal{
    transform: translate(5px, 102px);
}
/*#Swift{
    width:75%;
    height:75%;
    border-radius: 8px;
}*/


#Entree{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 50%;
}


#autoClick{
    width:75%;
    height:75%;
    border-radius: 8px;

}
.multipliX{
    font-size: 25px;
}
#clickVal{
    color: greenyellow;
    font-size: 200%;
}

#score{
    width: 90%;
    height: 30%;
    color: greenyellow;
    font-size: 200%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dante{
    width: 33em;
    height: 33em;
transform: translate(0px, 80px);
}



/* 300 con0iner */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: greenyellow;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  /* DANTE */
.div19 {

    cursor: pointer;
    color: greenyellow;
  }
  
  /* The actual popup (appears on top) */
  .div19 .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .div19 .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .div19 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


    /* Making the grid responsive. */
    @media only screen and (max-width: 600px) {
    .parent {    
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        max-height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;  
        grid-template-rows: repeat(17, 1fr); 
    }
    .body{
        width: 100vw;
        height: 100vh;
    }
    #canv{
        width: 100vw;
        height: 100vh;
    }
    .div11{
        grid-area: 1/1/2/3;
        width: 100vw;
        padding-top: 1em;

    }

    .multi {
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0px, -30px);
    }

    .div10{
        grid-area: 2/1/3/3;
        height: 15px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div1{
        grid-area: 3/1/4/2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;

    }
    .div2{
        grid-area: 3/2/4/3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
    }
    .div3{
        grid-area: 4/1/5/2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
    }
    .div4{
        grid-area: 4/2/5/3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
    }
    .div5{
        grid-area: 5/1/6/2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
    }
    .div6{
        grid-area: 5/2/6/3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
    }
    .div7{
        grid-area: 6/1/7/2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
    }
    .div8{
       grid-area:  6/2/7/3;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 2px;
    }
    .div12{
        grid-area: 2/1/3/3;
    }
    .div20{
        grid-area: 7/1/8/2;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0px, -10px);
    }
    #score{
        font-size: 25px;
    }
    .clickValeur{
        grid-area: 7/2/8/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div19{
        grid-area: 8/1/9/2;
        display: flex;
        justify-content: left;
        align-items: top;
    }
    .div21{
        grid-area: 8/2/9/3;
      margin: 10%;
    }
    .div22{
        grid-area: 9/1/10/3;
    }
    .espace{
        grid-area: 10/1/11/3;
        height: 15px; 
        margin: 10px;
        text-align: center;
    }

    .div13{
        grid-area: 11/1/12/2;
    }
    .div14{
        grid-area: 11/2/12/3;
    }
    .div15{
        grid-area: 12/1/13/2;
    }
    .div16{
        grid-area: 12/2/13/3;
    }
    .div17{
        grid-area: 13/1/14/3;
    }
    .div18{
        grid-area: 14/1/15/3;
        display: flex;
            justify-content: center;
            align-items: center;
    }
    .barIcon2{
        grid-area: 15/1/16/3;
        display: flex;
            justify-content: center;
            align-items: center;
    }
    .baricon3{
        grid-area: 16/1/17/3;
        display: flex;
            justify-content: center;
            align-items: center;
    }
    .lineC{
        transform: translate(40px, 0px);
    }
    .littleH{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0, 0);
    }
    .popupDante{
        grid-area: 8/1/9/2;
    }
    .dante{
        width: 15em;
        height: 15em;
        transform: translate(-25px, -20px);
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .query{
        font-size: 15px;
    }
    .multipliX{
        transform: translate(0px, 0px );
    }
    #clickVal{
        transform: translate(0px, -3px );
    }
    }




/* central frame */
/*figure {
	position: absolute;
	display: block;
	width: 400px;
	margin: 100px auto;
  top: 25%;
  left: 50%;
  margin: 0 0 0 -200px;
}

figure:before {
	content: "";
	position: absolute;
	display: block;
	width: 132%;
	height: 132%;
	top: -16%;
	left: -16%;
	background-color: #f8f8f8;
	z-index: -1;
	box-shadow:
		inset 0px 10px .5em rgba(0,0,0,.25),
		inset .1em 0px .1em rgba(0,0,0,.1),
		inset -0.1em 0px .1em rgba(0,0,0,.05),
		0 .3em .2em #fff;
	background-image: -moz-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
	background-image: -webkit-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
	background-image: -o-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
	background-image: -ms-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
	background-image: radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%)
}

figure:after {
	content: "";
	position: absolute;
	display: block;
	width: 145%;
	height: 145%;
	top: -22.5%;
	left: -22.5%;
	background: #f8f8f8;
	z-index: -2;
	box-shadow:
		0px 1em 2em -1em rgba(0,0,0,.4),
		0px 2em 2em -1em rgba(0,0,0,.3),
		0px 3em 2em -1em rgba(0,0,0,.2),
		0px 4em 1.5em -1em rgba(0,0,0,.15),
		0px 2em 4em .5em rgba(0,0,0,.1),
		inset 0 .2em .1em #fff;
}

/*.morpheus {
	background: #fff;
	position: relative;
	display: block;
	width: 88%;
	height: auto;
	padding: 6%;
	box-shadow: inset 0px .3em .1em rgba(0,0,0,.2); }
/** {margin: 0; padding: 0}
body {background: #000;}
canvas {display: block;
z-index: 2;
opacity: 0.5;}*/
